* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav-bar {
  width: 100vw;
  height: 200px;
  background-color: #fff;
}

.logo {
  width: 100vw;
  height: 150px;
  background-color: #fff;
  text-align: center;
}

.logo img {
  width: 200px;
  height: 100px;
}

.menu {
  width: 100vw;
  height: 50px;
  background-color: #fff;
}

.menu ul {
  width: 30vw;
  margin: auto;
}

.menu ul li {
  display: inline-block;
  list-style: none;
  padding: 2% 7%;
  text-align: center;
}

.menu ul li:hover {
  background-color: lightblue;
  color: #fff;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 26px;
  font-weight: 500;
}

.container {
  width: 80vw;
  min-height: 500px;
  margin-left: 10vw;
  justify-content: space-between;
  background-image: url("/images/fondo-pag-speciali.jpg");
  background-position: cover;
  background-repeat: repeat;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.box-product {
  width: 300px;
  height: 200px;
  list-style: none;
  display: inline-block;
  overflow: hidden;
  margin: 2%;
  position: relative;
}

.box-product:hover .hidden-box {
  display: block;
}

.box-product .hidden-box {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #061B3E;
  opacity: 0.7;
  display: none;
}

.box-product .hidden-box .h-b-text {
  width: 100%;
  height: 50%;
  text-align: center;
  line-height: 100px;
}

.box-product .hidden-box .h-b-text a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.box-product img {
  width: 100%;
  height: 100%;
}

.mini-title {
  color: #002D75;
}

.box-details {
  width: 100vw;
  height: 300vh;
  background-color: #B8DAE4;
  position: relative;
}

.box-details .details-title {
  width: 100%;
  height: 100px;
  background-color: #B8DAE4;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  color: blue;
  text-align: center;
  line-height: 100px;
  color: #012E75;
}

.box-details .details-p {
  width: 100%;
  height: 250px;
  padding: 0 10%;
  background-color: #B8DAE4;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  line-height: 25px;
  color: #012E75;
}

.footer_container {
  width: 80vw;
  margin: 50px 10vw;
  color: grey;
}

.footer_container li {
  list-style: none;
  padding: 2% 0;
  font-size: 12px;
}

.footer_container .left,
.footer_container .central,
.footer_container .right {
  width: 30%;
  height: 450px;
  float: left;
}

.footer_container .left h3,
.footer_container .central h3,
.footer_container .right h3 {
  margin: 3% 0;
}

.footer_container .left li {
  padding: 0.5% 0;
}

.footer_container .central {
  padding-left: 3%;
}

.footer_container .mountains {
  width: 80vw;
  height: 150px;
  overflow: hidden;
}

.footer_container .mountains img {
  width: 120%;
  height: 100%;
}

