.nav-bar {
    width: 100vw;
    height: 200px;
    background-color: #fff;
}

.logo {
  width: 100vw;
  height: 150px;
  background-color: #fff;
  text-align: center;

    & img {
        width: 200px;
        height: 100px;
    }
}

.menu {
    width: 100vw;
    height: 50px;
    background-color: #fff;

    ul {
        width: 30vw;
        margin: auto;

        li {
        display: inline-block;
        list-style: none;
        padding: 2% 7%;
        text-align: center;

        &:hover {
                background-color: lightblue;
                color: #fff;
            }

            a {
                text-decoration: none;
                color: #000;
                font-size: 26px;
                font-weight: 500;
            }
        }
    }
}